<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link href="../../static/css/metisMenu.min.css" rel="stylesheet">
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/metisMenu.min.js"></script>
<script src='../../static/jquery.elevatezoom.js'></script> 
<script src='../../static/js/sb-admin-2.js'></script>
<link href="../../static/css/sb-admin-2.css" rel='stylesheet'></link>
<style>
    body {background-color:lightgrey;}
    div.img-main{width:640px;float:left }
    div.col-right{width:240px;float:left;padding-left:10}
    .buttselector{}
    div.position{}
</style>
<script>
    // a model used to track the application state and selections
    $.model = new Object();
    $.model.mode = 'None';
    $.model.labels = [];
    $.model.labelset=[
        {% for label in labels %}
        {'label':'{{ label }}','css':'c{{loop.index}}' },
        {% endfor %}
    ];
    $.model.labelColor = function(l)
    {
        for( x in $.model.labelset)
        {
            if ($.model.labelset[x].label == l)
            return $("."+ $.model.labelset[x].css).css('color');
        }
    }

    $.model.img = '{{ imgname }}';
    // function to get the mouse x postition on the image
    $.model.getX= function(item){
            var offset = item.offset();
            //console.log('X : ' + offset.left);
            var x = event.pageX - offset.left ;
            return x;
        };
    // function to get the mouse y position on the image
    $.model.getY= function(item){
            var offset = item.offset();
            //console.log('Y : ' + offset.top);
            var y = event.pageY - offset.top ;
            return y;
        };
    // function to find a label in the list if it's already there
    $.model.findLabel = function(s){
        var matches = $.model.labels.filter(function(element){return element['Label']==s;});
        if (matches.length > 0){return matches[0];}
        else return null;
    };
    $.model.save=function(s){
            $.ajax(
            {
            type: "post",
             url: window.location.href,
             data: s,
             dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(resultData){
                location.reload()
                console.log('save success');
                },
            error: function(obj,status,e){console.log('save error' + status + e);},
            complete: function(result){console.log('save complete');}
            });
            
        };
     $.model.drawBoxAround=function(x,y,size,c){
        sides  = {Right:x - size/2, Left:x + size/2, Top:y-size/2, Bottom:y + size/2};
        lines =[]
        lines.push({"FromX":sides.Left, "FromY":sides.Top, "ToX":sides.Right, "ToY":sides.Top});
        lines.push({"FromX":sides.Left, "FromY":sides.Top, "ToX":sides.Left, "ToY":sides.Bottom});
        lines.push({"FromX":sides.Right, "FromY":sides.Top, "ToX":sides.Right, "ToY":sides.Bottom});
        lines.push({"FromX":sides.Left, "FromY":sides.Bottom, "ToX":sides.Right, "ToY":sides.Bottom});
        //console.log(lines);
        $.model.drawLines(lines,c);       
     };
     $.model.drawLines=function(lstLines,c){
        
        //console.log(lstLines[0]);
        var canvas = document.getElementById('img-main');
        ctx = canvas.getContext('2d');
        for (line in  lstLines)
        {
            console.log(c);
            ctx.beginPath();
            ctx.lineWidth="2";
            console.log("X1 : " + lstLines[line].FromX + " Y1:" + lstLines[line].FromY); 
            ctx.strokeStyle=c;
            ctx.moveTo(lstLines[line].FromX,lstLines[line].FromY);
            ctx.lineTo(lstLines[line].ToX,lstLines[line].ToY);
            ctx.stroke();
          }
        };
    
    $(function(){
    var img  = new Image();
    img.src ='../../static/train1Imgs/{{imgname}}';
    img.onload = function(){
        var canvas = document.getElementById('img-main');
        ctx = canvas.getContext('2d');
        canvas.width=640;
        canvas.height=480;
        ctx.drawImage(img,0,0);
    };
 
    $('button.buttsubmit').click(function(){
        console.log(window.location.href);
        $.model.save(JSON.stringify($.model.labels)); 
        });
    $('button.buttsubmit').prop('disabled', true);
    $('.buttselector').click(function(e) {
                $.model.mode = $(this).text();
                //console.log('Awaiting click for : ' + $(this).text());
        $('div.img-main').css('cursor','crosshair');
        $('div.img-main').mousemove(
            function(){ 
                var msg = $.model.getX($(this)) + ","  +  $.model.getY($(this));
                $('div.position').text(msg);
                $( "div.img-main" ).click(function() {
                    if($.model.mode != 'None')
                    {
                        var x = $.model.getX($(this));
                        var y = $.model.getY($(this));
                        console.log('img-main clicked on ' + $.model.mode +  ' at ' + x + ',' + y);
                        $('div.img-main').css('cursor','pointer');
                        var found = $.model.findLabel($.model.mode);
                        //console.log(found);
                        if( found == null)
                        {
                            $.model.labels.push({Label:$.model.mode,X:x,Y:y,Image:$.model.img});
                            
                        }
                        else{
                            found['X'] = x;
                            found['Y'] = y
                        }
                        var color = $.model.labelColor($.model.mode);
                        $.model.drawBoxAround(x,y,10,color);
                        $('#' + $.model.mode).text(x +','+y);
                        $.model.mode = 'None';
                        // set submit disable status
                        if($.model.labels.length == $.model.labelset.length)
                        { $('button.buttsubmit').prop('disabled',false);}
                        else  $('button.buttsubmit').prop('disabled', true);
                    }

                    // $('div.img-main').mousemove(function(){});
                    });            
            }
          );
     })
});
</script>
<title>
    Manual location entry for  {{imgname}} 
</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" ><div class="navbar-header"><span class='navbar-brand'>Image Labeller</span> <span class='navbar-brand' > Image {{ c }} of {{ ttl }}</div></nav>
    <div class='navbar-default sidebar' id='side-menu'>
        <div class='sidebar-nav navbar-collapse'>
            
            <h3>Choose locations</h3>
            <div class='position'></div>
            {% for label in labels %}
            <div>
                <button type='button'class='btn btn-default btn-block buttselector c{{ loop.index }}' id='{{ label }}_button'>{{ label }}</button> <span id='{{ label }}' class='selectedPosition'></span>
            </div>
            {% endfor %}
            <div>
                <button type='button' id=submit class='buttsubmit'>Submit</button>
                    <ul class='nav in' id='side-menu'>
                <!--<li><a href=''>Train</a></li>-->
                    </ul>
            </div>
        </div>
    </div>
    
    <div class='col-right' id='page-wrapper'>
        
        <div class='img-main'>
            <canvas id='img-main'></canvas>
        </div>
    
    </div>
